@import url('https://fonts.googleapis.com/css2?family=Montez&family=Sofia&display=swap');

@font-face {
  font-family: "iconfont";
  /* project id 669713 */
  src: url("//at.alicdn.com/t/font_669713_r7pgq0vmjqc.eot");
  src: url("//at.alicdn.com/t/font_669713_r7pgq0vmjqc.eot?#iefix") format("embedded-opentype"),
    url("//at.alicdn.com/t/font_669713_r7pgq0vmjqc.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_669713_r7pgq0vmjqc.woff") format("woff"),
    url("//at.alicdn.com/t/font_669713_r7pgq0vmjqc.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_669713_r7pgq0vmjqc.svg#iconfont") format("svg");
}

/*载入字体*/

@font-face {
  font-family: "JournalRegular";
  src: url("../font/CHERI___.TTF");
  font-weight: normal;
  font-style: normal;
}

.self-design {
  font-family: "JournalRegular" !important;
  font-size: 20px;
  font-style: normal;
  z-index: 10001;
  margin-top: 50px;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  background: #ffc0cb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* max-width: 1200px; */
  margin: 0 auto;
  touch-action: none;
}

p,
div,
li,
ul {
  margin: 0;
  padding: 0;
}

/* 音频模块 */

.music {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 2vw;
  right: 2vw;
  /* background-image: url("../img/music.svg"); */
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  /* touch-action: none; */
  cursor: pointer;
  z-index: 10000;
}

.music>.iconfont {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  animation: rotating 1.2s linear infinite;
  animation-play-state: paused;
}

.music>.iconfont.rotate {
  animation-play-state: running;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

.hide {
  display: none;
}

/* 图片{模块 */

.banner {
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  margin: 100px 0 0 0;
  border-radius: 40px;
  border: 10px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ovh {
  overflow: hidden;
}

.banner .img-intro {
  font-family: 'Sofia', cursive;
  letter-spacing: 0.1em;
  position: absolute;
  width: 100%;
  /* height: 30px; */
  text-align: center;
  bottom: 0px;
  left: 0;
  font-size: 40px;
  padding: 7px;
  font-weight: bold;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.banner img {
  width: auto;
  height: 600px;
}

/* 日期模块 */

.date {
  position: relative;
  text-align: center;
}

.date-icon::after {
  content: attr(data-text);
  position: absolute;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  margin: 15px 150px 0 0;
  letter-spacing: 0.1em;
  top: 70px;
  left: -150%;
}

.intro {
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #3e4149;
  position: relative;
  left: 0px;
}

.date>span {
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  /* margin-top: 80px; */
  margin: 0 10px;
  font-size: 60px;
  position: relative;
  color: #3e4149;
}

.date-text {
  color: white;
  font-size: 14px;
  word-spacing: 20px;
  margin: 0;
  font-weight: lighter;
  position: relative;
  left: 14px;
}

.svg {
  margin-top: 20px;
  width: 500px;
  /* height: 73px; */
}

.our-name {
  position: relative;
  font-size: 60px;
  margin: 100px 0 0 0;
  color: #1c1c1d;
  display: flex;
  align-items: center;
  cursor: pointer;
  letter-spacing: 1px;
}

.our-name>span {
  color: red;
  font-size: 150px;
}

@media screen and (max-width: 768px) {
  .banner {
    width: 800px;
    height: 600px;
    border-radius: 0;
    border: 0;
  }

  .banner img {
    width: 100%;
    height: 100%;
  }

  .date {
    margin-top: 20px;
  }

  .date>span {
    font-size: 40px;
  }

  .date-text {
    font-size: 12px;
  }

  .svg {
    width: 100%;
  }

  .our-name {
    font-size: 40px;
  }

  .our-name>span {
    font-size: 100px;
  }
}